In [1]:
import pandas as pd
import geopandas as gpd
import re
import seaborn as sns

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
month = "June"
year = 2021

# Reading In Rental List - Magnum and R&R

In [3]:
#R&R and Magnum Rental List
RRList = pd.read_excel("BLM Rents {} {}.xlsx".format(month, year), header = 4, usecols = 8)
MPLPList = pd.read_excel("BLM Rents {} {}.xlsx".format(month, year), header = 4, usecols = 8, sheet_name = "MPLP")

/anaconda3/lib/python3.6/site-packages/pandas/io/excel.py:527: FutureWarning: Passing in an integer for `usecols` has been deprecated. Please pass in a list of int from 0 to `usecols` inclusive instead.
  usecols = _maybe_convert_usecols(usecols)

In [4]:
#Reading Mastr shapefile
shapefile = gpd.read_file("zip://BLM Master 3-2021.zip")
shapefile.columns

Index(['lot_no', 'LEASE_NO', 'EFFECTIVE', 'COUNTY', 'ST', 'Ownership',
       'GeneralLoc', 'Due_Year', 'Acres', 'COMMENTS', 'Est_Bonus', 'Exp_date',
       'Comments_1', 'Shape_Leng', 'Shape_Area', 'geometry'],
      dtype='object')

In [5]:
RRList
MPLPList

,LEASE NO.,COUNTY,STATE,EXPIRATION,ACRES,PER ACRE,RENTAL,COUNTY.1,Y/N
0,ARES58000,FAULKNER,ARKANSAS,2025-06-01,80.00,15.437500,160.0,160.0,NaN
1,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN
2,LAES58002,CADDO PARISH,LOUISIANA,2025-06-01,28.38,74.410714,58.0,NaN,NaN
3,LAES58003,CADDO PARISH,LOUISIANA,2025-06-01,171.41,16.497076,344.0,402.0,NaN
4,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN
5,LAES57696,NATCHITOCHES,LOUISIANA,2023-06-01,1321.39,4.000000,2644.0,2644.0,NaN
6,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN
7,MIES57728,ROSCOMMON,MICHIGAN,2023-06-01,560.00,21.767857,1120.0,1120.0,NaN
8,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN
9,MSES57748,AMITE,MISSISSIPPI,2024-06-01,329.28,3.966565,660.0,660.0,NaN
10,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN
11,MSES57745,FRANKLIN,MISSISSIPPI,2024-06-01,52.10,26.836538,106.0,NaN,NaN
12,MSES57746,FRANKLIN,MISSISSIPPI,2024-06-01,535.98,3.779851,1072.0,NaN,NaN
13,MSES57747,FRANKLIN,MISSISSIPPI,2024-06-01,105.84,22.915094,212.0,NaN,NaN
14,MSES57753,FRANKLIN,MISSISSIPPI,2024-06-01,40.00,7.250000,80.0,NaN,NaN
15,MSES57754,FRANKLIN,MISSISSIPPI,2024-06-01,40.00,31.250000,80.0,1550.0,NaN
16,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN
17,MSES57734,SCOTT,MISSISSIPPI,2024-06-01,1260.25,3.621825,2522.0,NaN,NaN
18,MSES57735,SCOTT,MISSISSIPPI,2024-06-01,1064.84,3.640845,2130.0,NaN,NaN
19,MSES57736,SCOTT,MISSISSIPPI,2024-06-01,1230.85,3.621852,2462.0,NaN,NaN
20,MSES57738,SCOTT,MISSISSIPPI,2024-06-01,1627.29,3.594345,3256.0,NaN,NaN
21,MSES57739,SCOTT,MISSISSIPPI,2024-06-01,641.56,3.733645,1284.0,NaN,NaN
22,MSES57740,SCOTT,MISSISSIPPI,2024-06-01,610.91,3.745499,1222.0,NaN,NaN
23,MSES57741,SCOTT,MISSISSIPPI,2024-06-01,1465.81,3.602319,2932.0,NaN,NaN
24,MSES57742,SCOTT,MISSISSIPPI,2024-06-01,1680.49,3.591369,3362.0,NaN,NaN
25,MSES57744,SCOTT,MISSISSIPPI,2024-06-01,718.26,3.713788,1438.0,20608.0,NaN
26,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN
27,MSES57749,WILKINSON,MISSISSIPPI,2024-06-01,454.00,3.830396,908.0,NaN,NaN
28,MSES57750,WILKINSON,MISSISSIPPI,2024-06-01,22.78,10.021739,46.0,NaN,NaN
29,MSES57751,WILKINSON,MISSISSIPPI,2024-06-01,17.22,12.529412,36.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...
53,WYW189807,CONVERSE,WYOMING,2030-06-01,1519.54,390.611842,2280.0,NaN,NaN
54,WYW189810,CONVERSE,WYOMING,2030-06-01,240.00,205.208333,360.0,NaN,NaN
55,WYW189811,CONVERSE,WYOMING,2030-06-01,320.00,528.031250,480.0,NaN,NaN
56,WYW189812,CONVERSE,WYOMING,2030-06-01,240.00,527.208333,360.0,NaN,NaN
57,WYW189814,CONVERSE,WYOMING,2030-06-01,480.00,541.854167,720.0,NaN,NaN
58,WYW189815,CONVERSE,WYOMING,2030-06-01,320.00,527.031250,480.0,NaN,NaN
59,WYW189816,CONVERSE,WYOMING,2030-06-01,320.00,359.031250,480.0,NaN,NaN
60,WYW189820,CONVERSE,WYOMING,2030-06-01,40.00,686.750000,60.0,NaN,NaN
61,WYW189821,CONVERSE,WYOMING,2030-06-01,80.00,557.625000,120.0,NaN,NaN
62,WYW189822,CONVERSE,WYOMING,2030-06-01,160.00,513.562500,240.0,NaN,NaN
63,WYW189826,CONVERSE,WYOMING,2030-06-01,2278.30,13.580553,3418.5,NaN,NaN
64,WYW189827,CONVERSE,WYOMING,2030-06-01,920.00,28.684783,1380.0,10378.5,NaN
65,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN
66,WYW188784,JOHNSON,WYOMING,2029-06-01,160.00,203.531250,240.0,NaN,NaN
67,WYW188785,JOHNSON,WYOMING,2029-06-01,320.00,103.015625,480.0,720.0,NaN
68,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN
69,WYW188777,NATRONA,WYOMING,2029-06-01,1068.57,64.654350,1603.5,NaN,NaN
70,WYW188778,NATRONA,WYOMING,2029-06-01,784.47,48.772321,1177.5,NaN,NaN
71,WYW188780,NATRONA,WYOMING,2029-06-01,680.00,77.742647,1020.0,3801.0,NaN
72,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN
73,WYW189796,NIOBRARA,WYOMING,2030-06-01,1360.00,27.625000,2040.0,NaN,NaN
74,WYW189797,NIOBRARA,WYOMING,2030-06-01,1320.00,29.628788,1980.0,4020.0,NaN
75,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN
76,WYW189891,SUBLETTE,WYOMING,2030-06-01,2298.76,5.573945,3448.5,NaN,NaN
77,WYW189892,SUBLETTE,WYOMING,2030-06-01,1160.00,7.646552,1740.0,NaN,NaN
78,WYW189893,SUBLETTE,WYOMING,2030-06-01,75.70,17.736842,114.0,5302.5,NaN
79,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN
80,WYW189850,SWEETWATER,WYOMING,2030-06-01,276.54,9.113718,415.5,NaN,NaN
81,WYW189851,SWEETWATER,WYOMING,2030-06-01,648.52,15.761941,973.5,1389.0,NaN
82,NaN,NaN,NaN,NaT,NaN,NaN,71086.5,71086.5,NaN

,LEASE NO.,COUNTY,STATE,EXPIRATION,ACRES,PER ACRE,RENTAL,COUNTY.1,Y/N
0,LAES57692,DESOTO,LOUISIANA,2023-06-01,54.02,6.342593,110.0,110.0,NaN
1,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN
2,MTM103416,PRAIRIE,MONTANA,2022-06-01,315.86,4.974684,632.0,NaN,NaN
3,MTM103417,PRAIRIE,MONTANA,2022-06-01,640.00,6.734375,1280.0,NaN,NaN
4,MTM103418,PRAIRIE,MONTANA,2022-06-01,320.00,8.968750,640.0,NaN,NaN
5,MTM103419,PRAIRIE,MONTANA,2022-06-01,320.00,7.968750,640.0,NaN,NaN
6,MTM103420,PRAIRIE,MONTANA,2022-06-01,960.00,7.656250,1920.0,NaN,NaN
7,MTM103421,PRAIRIE,MONTANA,2022-06-01,1262.20,8.625594,2526.0,NaN,NaN
8,MTM103422,PRAIRIE,MONTANA,2022-06-01,1280.00,8.617188,2560.0,10198.0,NaN
9,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN
10,WYW186741,CAMPBELL,WYOMING,2028-06-01,83.67,43.404762,126.0,NaN,NaN
11,WYW186750,CAMPBELL,WYOMING,2028-06-01,326.75,12.989297,490.5,NaN,NaN
12,WYW186751,CAMPBELL,WYOMING,2028-06-01,156.38,9.580128,235.5,NaN,NaN
13,WYW186754,CAMPBELL,WYOMING,2028-06-01,866.80,23.684544,1300.5,NaN,NaN
14,WYW186755,CAMPBELL,WYOMING,2028-06-01,428.66,15.872960,643.5,NaN,NaN
15,WYW186756,CAMPBELL,WYOMING,2028-06-01,630.52,15.753566,946.5,NaN,NaN
16,WYW186757,CAMPBELL,WYOMING,2028-06-01,160.17,13.578125,241.5,NaN,NaN
17,WYW186758,CAMPBELL,WYOMING,2028-06-01,81.12,16.654321,123.0,NaN,NaN
18,WYW186765,CAMPBELL,WYOMING,2028-06-01,444.51,15.859551,667.5,4774.5,NaN
19,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN
20,WYW186768,CONVERSE,WYOMING,2028-06-01,320.00,5.000000,480.0,480.0,NaN
21,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,NaN,NaT,NaN,NaN,15562.5,15562.5,NaN

## Concatenating Magnum and RR Into 1 Dataframe
### Cleaning Dataframe by removing null rows, subtotal rows, etc

In [6]:
#concat magnum and r&r rental list
RentalList = pd.concat([RRList, MPLPList])

In [7]:
#dropping rows with null values for lease number and county
RentalList.dropna(subset = ["LEASE NO.", "COUNTY"], how = 'all', inplace = True)

#resetting index
RentalList.reset_index(inplace = True, drop = True)

RentalList

,LEASE NO.,COUNTY,STATE,EXPIRATION,ACRES,PER ACRE,RENTAL,COUNTY.1,Y/N
0,ARES58000,FAULKNER,ARKANSAS,2025-06-01,80.00,15.437500,160.0,160.0,NaN
1,LAES58002,CADDO PARISH,LOUISIANA,2025-06-01,28.38,74.410714,58.0,NaN,NaN
2,LAES58003,CADDO PARISH,LOUISIANA,2025-06-01,171.41,16.497076,344.0,402.0,NaN
3,LAES57696,NATCHITOCHES,LOUISIANA,2023-06-01,1321.39,4.000000,2644.0,2644.0,NaN
4,MIES57728,ROSCOMMON,MICHIGAN,2023-06-01,560.00,21.767857,1120.0,1120.0,NaN
5,MSES57748,AMITE,MISSISSIPPI,2024-06-01,329.28,3.966565,660.0,660.0,NaN
6,MSES57745,FRANKLIN,MISSISSIPPI,2024-06-01,52.10,26.836538,106.0,NaN,NaN
7,MSES57746,FRANKLIN,MISSISSIPPI,2024-06-01,535.98,3.779851,1072.0,NaN,NaN
8,MSES57747,FRANKLIN,MISSISSIPPI,2024-06-01,105.84,22.915094,212.0,NaN,NaN
9,MSES57753,FRANKLIN,MISSISSIPPI,2024-06-01,40.00,7.250000,80.0,NaN,NaN
10,MSES57754,FRANKLIN,MISSISSIPPI,2024-06-01,40.00,31.250000,80.0,1550.0,NaN
11,MSES57734,SCOTT,MISSISSIPPI,2024-06-01,1260.25,3.621825,2522.0,NaN,NaN
12,MSES57735,SCOTT,MISSISSIPPI,2024-06-01,1064.84,3.640845,2130.0,NaN,NaN
13,MSES57736,SCOTT,MISSISSIPPI,2024-06-01,1230.85,3.621852,2462.0,NaN,NaN
14,MSES57738,SCOTT,MISSISSIPPI,2024-06-01,1627.29,3.594345,3256.0,NaN,NaN
15,MSES57739,SCOTT,MISSISSIPPI,2024-06-01,641.56,3.733645,1284.0,NaN,NaN
16,MSES57740,SCOTT,MISSISSIPPI,2024-06-01,610.91,3.745499,1222.0,NaN,NaN
17,MSES57741,SCOTT,MISSISSIPPI,2024-06-01,1465.81,3.602319,2932.0,NaN,NaN
18,MSES57742,SCOTT,MISSISSIPPI,2024-06-01,1680.49,3.591369,3362.0,NaN,NaN
19,MSES57744,SCOTT,MISSISSIPPI,2024-06-01,718.26,3.713788,1438.0,20608.0,NaN
20,MSES57749,WILKINSON,MISSISSIPPI,2024-06-01,454.00,3.830396,908.0,NaN,NaN
21,MSES57750,WILKINSON,MISSISSIPPI,2024-06-01,22.78,10.021739,46.0,NaN,NaN
22,MSES57751,WILKINSON,MISSISSIPPI,2024-06-01,17.22,12.529412,36.0,NaN,NaN
23,MSES57752,WILKINSON,MISSISSIPPI,2024-06-01,228.51,4.155022,458.0,1448.0,NaN
24,PAES58006,BRADFORD,PENNYSLVANIA,2025-06-01,1134.85,26.636564,2270.0,NaN,NaN
25,PAES58007,BRADFORD,PENNYSLVANIA,2025-06-01,1112.06,31.667716,2226.0,NaN,NaN
26,PAES58008,BRADFORD,PENNYSLVANIA,2025-06-01,931.76,21.666309,1864.0,NaN,NaN
27,PAES58009,BRADFORD,PENNYSLVANIA,2025-06-01,617.19,21.786062,1236.0,NaN,NaN
28,PAES58010,BRADFORD,PENNYSLVANIA,2025-06-01,691.27,26.762663,1384.0,8980.0,NaN
29,TXNM132419,JACKSON,TEXAS,2024-06-01,1273.76,226.621664,2548.0,2548.0,NaN
...,...,...,...,...,...,...,...,...,...
52,WYW188784,JOHNSON,WYOMING,2029-06-01,160.00,203.531250,240.0,NaN,NaN
53,WYW188785,JOHNSON,WYOMING,2029-06-01,320.00,103.015625,480.0,720.0,NaN
54,WYW188777,NATRONA,WYOMING,2029-06-01,1068.57,64.654350,1603.5,NaN,NaN
55,WYW188778,NATRONA,WYOMING,2029-06-01,784.47,48.772321,1177.5,NaN,NaN
56,WYW188780,NATRONA,WYOMING,2029-06-01,680.00,77.742647,1020.0,3801.0,NaN
57,WYW189796,NIOBRARA,WYOMING,2030-06-01,1360.00,27.625000,2040.0,NaN,NaN
58,WYW189797,NIOBRARA,WYOMING,2030-06-01,1320.00,29.628788,1980.0,4020.0,NaN
59,WYW189891,SUBLETTE,WYOMING,2030-06-01,2298.76,5.573945,3448.5,NaN,NaN
60,WYW189892,SUBLETTE,WYOMING,2030-06-01,1160.00,7.646552,1740.0,NaN,NaN
61,WYW189893,SUBLETTE,WYOMING,2030-06-01,75.70,17.736842,114.0,5302.5,NaN
62,WYW189850,SWEETWATER,WYOMING,2030-06-01,276.54,9.113718,415.5,NaN,NaN
63,WYW189851,SWEETWATER,WYOMING,2030-06-01,648.52,15.761941,973.5,1389.0,NaN
64,LAES57692,DESOTO,LOUISIANA,2023-06-01,54.02,6.342593,110.0,110.0,NaN
65,MTM103416,PRAIRIE,MONTANA,2022-06-01,315.86,4.974684,632.0,NaN,NaN
66,MTM103417,PRAIRIE,MONTANA,2022-06-01,640.00,6.734375,1280.0,NaN,NaN
67,MTM103418,PRAIRIE,MONTANA,2022-06-01,320.00,8.968750,640.0,NaN,NaN
68,MTM103419,PRAIRIE,MONTANA,2022-06-01,320.00,7.968750,640.0,NaN,NaN
69,MTM103420,PRAIRIE,MONTANA,2022-06-01,960.00,7.656250,1920.0,NaN,NaN
70,MTM103421,PRAIRIE,MONTANA,2022-06-01,1262.20,8.625594,2526.0,NaN,NaN
71,MTM103422,PRAIRIE,MONTANA,2022-06-01,1280.00,8.617188,2560.0,10198.0,NaN
72,WYW186741,CAMPBELL,WYOMING,2028-06-01,83.67,43.404762,126.0,NaN,NaN
73,WYW186750,CAMPBELL,WYOMING,2028-06-01,326.75,12.989297,490.5,NaN,NaN
74,WYW186751,CAMPBELL,WYOMING,2028-06-01,156.38,9.580128,235.5,NaN,NaN
75,WYW186754,CAMPBELL,WYOMING,2028-06-01,866.80,23.684544,1300.5,NaN,NaN
76,WYW186755,CAMPBELL,WYOMING,2028-06-01,428.66,15.872960,643.5,NaN,NaN
77,WYW186756,CAMPBELL,WYOMING,2028-06-01,630.52,15.753566,946.5,NaN,NaN
78,WYW186757,CAMPBELL,WYOMING,2028-06-01,160.17,13.578125,241.5,NaN,NaN
79,WYW186758,CAMPBELL,WYOMING,2028-06-01,81.12,16.654321,123.0,NaN,NaN
80,WYW186765,CAMPBELL,WYOMING,2028-06-01,444.51,15.859551,667.5,4774.5,NaN
81,WYW186768,CONVERSE,WYOMING,2028-06-01,320.00,5.000000,480.0,480.0,NaN

In [8]:
RentalList.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 82 entries, 0 to 81
Data columns (total 9 columns):
LEASE NO.     82 non-null object
COUNTY        82 non-null object
STATE         82 non-null object
EXPIRATION    82 non-null datetime64[ns]
ACRES         82 non-null float64
PER ACRE      82 non-null float64
RENTAL        82 non-null float64
COUNTY.1      23 non-null float64
Y/N           0 non-null float64
dtypes: datetime64[ns](1), float64(5), object(3)
memory usage: 5.8+ KB

In [9]:
#storing serial numbers found in RentalLis
SerialNumbers = RentalList.loc[:,"LEASE NO."]

SerialNumbers.dropna(inplace = True)

SerialNumbers

0      ARES58000
1      LAES58002
2      LAES58003
3      LAES57696
4      MIES57728
5      MSES57748
6      MSES57745
7      MSES57746
8      MSES57747
9      MSES57753
10     MSES57754
11     MSES57734
12     MSES57735
13     MSES57736
14     MSES57738
15     MSES57739
16     MSES57740
17     MSES57741
18     MSES57742
19     MSES57744
20     MSES57749
21     MSES57750
22     MSES57751
23     MSES57752
24     PAES58006
25     PAES58007
26     PAES58008
27     PAES58009
28     PAES58010
29    TXNM132419
         ...
52     WYW188784
53     WYW188785
54     WYW188777
55     WYW188778
56     WYW188780
57     WYW189796
58     WYW189797
59     WYW189891
60     WYW189892
61     WYW189893
62     WYW189850
63     WYW189851
64     LAES57692
65     MTM103416
66     MTM103417
67     MTM103418
68     MTM103419
69     MTM103420
70     MTM103421
71     MTM103422
72     WYW186741
73     WYW186750
74     WYW186751
75     WYW186754
76     WYW186755
77     WYW186756
78     WYW186757
79     WYW186758
80     WYW186765
81     WYW186768
Name: LEASE NO., Length: 82, dtype: object

In [10]:
shapefile["LEASE_NO"]

0                   WY-2020-12-0588
1                   WY-2020-12-0592
2                   WY-2020-12-0595
3                   WY-2020-12-0579
4                   WY-2020-12-0432
5                   WY-2020-12-0418
6                   WY-2020-12-0413
7                   WY-2020-12-6960
8                   WY-2020-12-6868
9                   WY-2020-12-6872
10                  WY-2020-12-6816
11                  WY-2020-12-6842
12                  WY-2020-12-6786
13                  WY-2020-12-6804
14                  WY-2020-12-6807
15                  WY-2020-12-6814
16                  WY-2020-12-6815
17                  WY-2020-12-6916
18                  WY-2020-12-6883
19                  WY-2020-12-6889
20                  WY-2020-12-0817
21                  WY-2020-12-0734
22                  WY-2020-12-0738
23                  WY-2020-12-6766
24                  WY-2020-12-6768
25                  WY-2020-12-6770
26                  WY-2020-12-6773
27                  WY-2020-12-6764
28                  WY-2020-12-6765
29                        NDM101156
                   ...
1846                      MIES55147
1847                      MIES55148
1848                      VAES55172
1849                      VAES55164
1850                      VAES55174
1851                      MIES55149
1852                     TXNM119824
1853                      MIES55145
1854                     TXNM119822
1855                      MIES55144
1856                      MIES55151
1857                      MIES55143
1858                      MIES55152
1859                      MIES55153
1860                      MIES55154
1861                     MSES057011
1862                     OKNM141017
1863    ARES 059723 AR-2020-12-6022
1864    MSES 059735 MS-2020-12-0106
1865    MSES 059734 MS-2020-12-0112
1866    MSES 059726 MS-2020-12-0117
1867                UT-2020-12-0837
1868        UTU94822 (UT0320 - 023)
1869        UTU94821 (UT0320 - 022)
1870                NM-2021-01-0366
1871                NM-2021-01-0376
1872                NM-2021-01-0380
1873                NM-2021-01-0381
1874                NM-2021-01-6742
1875                NM-2021-01-0398
Name: LEASE_NO, Length: 1876, dtype: object

In [11]:
#creating version of master shapefile with serial numbers found in the rental list
RentalShapeFile = shapefile.loc[shapefile["LEASE_NO"].isin(SerialNumbers)]

In [12]:
#checking lenghts of each variable to see if matches were found
RentalShapeFile["LEASE_NO"].count()
SerialNumbers.count()

58

82

# IF Mismatches - Section for Cleaning Lease Numbers Text

In [13]:
SerialNumbers[~SerialNumbers.isin(RentalShapeFile["LEASE_NO"])]

29    TXNM132419
30    TXNM132420
31    TXNM132423
32    TXNM132425
38     WYW189819
39     WYW189830
40     WYW189807
41     WYW189810
42     WYW189811
43     WYW189812
44     WYW189814
45     WYW189815
46     WYW189816
47     WYW189820
48     WYW189821
49     WYW189822
50     WYW189826
51     WYW189827
57     WYW189796
58     WYW189797
60     WYW189892
61     WYW189893
62     WYW189850
63     WYW189851
Name: LEASE NO., dtype: object

In [14]:
testSerial = SerialNumbers.loc[38]

testSerial
re.findall('[\w]+', testSerial)[0]

'WYW189819'

'WYW189819'

In [15]:
#creating function to run on a pandas series to clean up mistakenly placed special chars at end of serial number on rental spreadsheet
def replaceSpecialChars(serial):
    cleanedSerial = re.findall('[\w]+', serial)[0]
    return cleanedSerial

In [16]:
CleanedSerials = SerialNumbers.apply(lambda x: replaceSpecialChars(x))

In [17]:
RentalShapeFile = shapefile.loc[shapefile["LEASE_NO"].isin(CleanedSerials)]

In [21]:
RentalShapeFile["LEASE_NO"].count()
SerialNumbers.count()

58

82

## List that Is Not in Shapefile

In [22]:
CleanedSerials[~CleanedSerials.isin(RentalShapeFile["LEASE_NO"])]
len(CleanedSerials[~CleanedSerials.isin(RentalShapeFile["LEASE_NO"])])

29    TXNM132419
30    TXNM132420
31    TXNM132423
32    TXNM132425
38     WYW189819
39     WYW189830
40     WYW189807
41     WYW189810
42     WYW189811
43     WYW189812
44     WYW189814
45     WYW189815
46     WYW189816
47     WYW189820
48     WYW189821
49     WYW189822
50     WYW189826
51     WYW189827
57     WYW189796
58     WYW189797
60     WYW189892
61     WYW189893
62     WYW189850
63     WYW189851
Name: LEASE NO., dtype: object

24

# Writing RentalShapefile to File

In [23]:
RentalShapeFile.to_file(month + str(year) + "- Rental Tracts.shp")

# Adding DI County Format for Filtering

In [24]:
states = {
        'AK': 'Alaska',
        'AL': 'Alabama',
        'AR': 'Arkansas',
        'AS': 'American Samoa',
        'AZ': 'Arizona',
        'CA': 'California',
        'CO': 'Colorado',
        'CT': 'Connecticut',
        'DC': 'District of Columbia',
        'DE': 'Delaware',
        'FL': 'Florida',
        'GA': 'Georgia',
        'GU': 'Guam',
        'HI': 'Hawaii',
        'IA': 'Iowa',
        'ID': 'Idaho',
        'IL': 'Illinois',
        'IN': 'Indiana',
        'KS': 'Kansas',
        'KY': 'Kentucky',
        'LA': 'Louisiana',
        'MA': 'Massachusetts',
        'MD': 'Maryland',
        'ME': 'Maine',
        'MI': 'Michigan',
        'MN': 'Minnesota',
        'MO': 'Missouri',
        'MP': 'Northern Mariana Islands',
        'MS': 'Mississippi',
        'MT': 'Montana',
        'NA': 'National',
        'NC': 'North Carolina',
        'ND': 'North Dakota',
        'NE': 'Nebraska',
        'NH': 'New Hampshire',
        'NJ': 'New Jersey',
        'NM': 'New Mexico',
        'NV': 'Nevada',
        'NY': 'New York',
        'OH': 'Ohio',
        'OK': 'Oklahoma',
        'OR': 'Oregon',
        'PA': 'Pennsylvania',
        'PR': 'Puerto Rico',
        'RI': 'Rhode Island',
        'SC': 'South Carolina',
        'SD': 'South Dakota',
        'TN': 'Tennessee',
        'TX': 'Texas',
        'UT': 'Utah',
        'VA': 'Virginia',
        'VI': 'Virgin Islands',
        'VT': 'Vermont',
        'WA': 'Washington',
        'WI': 'Wisconsin',
        'WV': 'West Virginia',
        'WY': 'Wyoming'
}

In [25]:
#inversing dictionary
statetoInits = {v: k for k, v in states.items()}

In [26]:
#cleaning datatypes for State
RentalList.info()
RentalList["STATE"] = RentalList["STATE"].astype(str)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 82 entries, 0 to 81
Data columns (total 9 columns):
LEASE NO.     82 non-null object
COUNTY        82 non-null object
STATE         82 non-null object
EXPIRATION    82 non-null datetime64[ns]
ACRES         82 non-null float64
PER ACRE      82 non-null float64
RENTAL        82 non-null float64
COUNTY.1      23 non-null float64
Y/N           0 non-null float64
dtypes: datetime64[ns](1), float64(5), object(3)
memory usage: 5.8+ KB

In [27]:
#Adding Columnn with State abbreviations for each state by mapping state dictionary
RentalList["St. Initials"] = RentalList["STATE"].apply(lambda x: x.title()).map(statetoInits)

RentalList

,LEASE NO.,COUNTY,STATE,EXPIRATION,ACRES,PER ACRE,RENTAL,COUNTY.1,Y/N,St. Initials
0,ARES58000,FAULKNER,ARKANSAS,2025-06-01,80.00,15.437500,160.0,160.0,NaN,AR
1,LAES58002,CADDO PARISH,LOUISIANA,2025-06-01,28.38,74.410714,58.0,NaN,NaN,LA
2,LAES58003,CADDO PARISH,LOUISIANA,2025-06-01,171.41,16.497076,344.0,402.0,NaN,LA
3,LAES57696,NATCHITOCHES,LOUISIANA,2023-06-01,1321.39,4.000000,2644.0,2644.0,NaN,LA
4,MIES57728,ROSCOMMON,MICHIGAN,2023-06-01,560.00,21.767857,1120.0,1120.0,NaN,MI
5,MSES57748,AMITE,MISSISSIPPI,2024-06-01,329.28,3.966565,660.0,660.0,NaN,MS
6,MSES57745,FRANKLIN,MISSISSIPPI,2024-06-01,52.10,26.836538,106.0,NaN,NaN,MS
7,MSES57746,FRANKLIN,MISSISSIPPI,2024-06-01,535.98,3.779851,1072.0,NaN,NaN,MS
8,MSES57747,FRANKLIN,MISSISSIPPI,2024-06-01,105.84,22.915094,212.0,NaN,NaN,MS
9,MSES57753,FRANKLIN,MISSISSIPPI,2024-06-01,40.00,7.250000,80.0,NaN,NaN,MS
10,MSES57754,FRANKLIN,MISSISSIPPI,2024-06-01,40.00,31.250000,80.0,1550.0,NaN,MS
11,MSES57734,SCOTT,MISSISSIPPI,2024-06-01,1260.25,3.621825,2522.0,NaN,NaN,MS
12,MSES57735,SCOTT,MISSISSIPPI,2024-06-01,1064.84,3.640845,2130.0,NaN,NaN,MS
13,MSES57736,SCOTT,MISSISSIPPI,2024-06-01,1230.85,3.621852,2462.0,NaN,NaN,MS
14,MSES57738,SCOTT,MISSISSIPPI,2024-06-01,1627.29,3.594345,3256.0,NaN,NaN,MS
15,MSES57739,SCOTT,MISSISSIPPI,2024-06-01,641.56,3.733645,1284.0,NaN,NaN,MS
16,MSES57740,SCOTT,MISSISSIPPI,2024-06-01,610.91,3.745499,1222.0,NaN,NaN,MS
17,MSES57741,SCOTT,MISSISSIPPI,2024-06-01,1465.81,3.602319,2932.0,NaN,NaN,MS
18,MSES57742,SCOTT,MISSISSIPPI,2024-06-01,1680.49,3.591369,3362.0,NaN,NaN,MS
19,MSES57744,SCOTT,MISSISSIPPI,2024-06-01,718.26,3.713788,1438.0,20608.0,NaN,MS
20,MSES57749,WILKINSON,MISSISSIPPI,2024-06-01,454.00,3.830396,908.0,NaN,NaN,MS
21,MSES57750,WILKINSON,MISSISSIPPI,2024-06-01,22.78,10.021739,46.0,NaN,NaN,MS
22,MSES57751,WILKINSON,MISSISSIPPI,2024-06-01,17.22,12.529412,36.0,NaN,NaN,MS
23,MSES57752,WILKINSON,MISSISSIPPI,2024-06-01,228.51,4.155022,458.0,1448.0,NaN,MS
24,PAES58006,BRADFORD,PENNYSLVANIA,2025-06-01,1134.85,26.636564,2270.0,NaN,NaN,NaN
25,PAES58007,BRADFORD,PENNYSLVANIA,2025-06-01,1112.06,31.667716,2226.0,NaN,NaN,NaN
26,PAES58008,BRADFORD,PENNYSLVANIA,2025-06-01,931.76,21.666309,1864.0,NaN,NaN,NaN
27,PAES58009,BRADFORD,PENNYSLVANIA,2025-06-01,617.19,21.786062,1236.0,NaN,NaN,NaN
28,PAES58010,BRADFORD,PENNYSLVANIA,2025-06-01,691.27,26.762663,1384.0,8980.0,NaN,NaN
29,TXNM132419,JACKSON,TEXAS,2024-06-01,1273.76,226.621664,2548.0,2548.0,NaN,TX
...,...,...,...,...,...,...,...,...,...,...
52,WYW188784,JOHNSON,WYOMING,2029-06-01,160.00,203.531250,240.0,NaN,NaN,WY
53,WYW188785,JOHNSON,WYOMING,2029-06-01,320.00,103.015625,480.0,720.0,NaN,WY
54,WYW188777,NATRONA,WYOMING,2029-06-01,1068.57,64.654350,1603.5,NaN,NaN,WY
55,WYW188778,NATRONA,WYOMING,2029-06-01,784.47,48.772321,1177.5,NaN,NaN,WY
56,WYW188780,NATRONA,WYOMING,2029-06-01,680.00,77.742647,1020.0,3801.0,NaN,WY
57,WYW189796,NIOBRARA,WYOMING,2030-06-01,1360.00,27.625000,2040.0,NaN,NaN,WY
58,WYW189797,NIOBRARA,WYOMING,2030-06-01,1320.00,29.628788,1980.0,4020.0,NaN,WY
59,WYW189891,SUBLETTE,WYOMING,2030-06-01,2298.76,5.573945,3448.5,NaN,NaN,WY
60,WYW189892,SUBLETTE,WYOMING,2030-06-01,1160.00,7.646552,1740.0,NaN,NaN,WY
61,WYW189893,SUBLETTE,WYOMING,2030-06-01,75.70,17.736842,114.0,5302.5,NaN,WY
62,WYW189850,SWEETWATER,WYOMING,2030-06-01,276.54,9.113718,415.5,NaN,NaN,WY
63,WYW189851,SWEETWATER,WYOMING,2030-06-01,648.52,15.761941,973.5,1389.0,NaN,WY
64,LAES57692,DESOTO,LOUISIANA,2023-06-01,54.02,6.342593,110.0,110.0,NaN,LA
65,MTM103416,PRAIRIE,MONTANA,2022-06-01,315.86,4.974684,632.0,NaN,NaN,MT
66,MTM103417,PRAIRIE,MONTANA,2022-06-01,640.00,6.734375,1280.0,NaN,NaN,MT
67,MTM103418,PRAIRIE,MONTANA,2022-06-01,320.00,8.968750,640.0,NaN,NaN,MT
68,MTM103419,PRAIRIE,MONTANA,2022-06-01,320.00,7.968750,640.0,NaN,NaN,MT
69,MTM103420,PRAIRIE,MONTANA,2022-06-01,960.00,7.656250,1920.0,NaN,NaN,MT
70,MTM103421,PRAIRIE,MONTANA,2022-06-01,1262.20,8.625594,2526.0,NaN,NaN,MT
71,MTM103422,PRAIRIE,MONTANA,2022-06-01,1280.00,8.617188,2560.0,10198.0,NaN,MT
72,WYW186741,CAMPBELL,WYOMING,2028-06-01,83.67,43.404762,126.0,NaN,NaN,WY
73,WYW186750,CAMPBELL,WYOMING,2028-06-01,326.75,12.989297,490.5,NaN,NaN,WY
74,WYW186751,CAMPBELL,WYOMING,2028-06-01,156.38,9.580128,235.5,NaN,NaN,WY
75,WYW186754,CAMPBELL,WYOMING,2028-06-01,866.80,23.684544,1300.5,NaN,NaN,WY
76,WYW186755,CAMPBELL,WYOMING,2028-06-01,428.66,15.872960,643.5,NaN,NaN,WY
77,WYW186756,CAMPBELL,WYOMING,2028-06-01,630.52,15.753566,946.5,NaN,NaN,WY
78,WYW186757,CAMPBELL,WYOMING,2028-06-01,160.17,13.578125,241.5,NaN,NaN,WY
79,WYW186758,CAMPBELL,WYOMING,2028-06-01,81.12,16.654321,123.0,NaN,NaN,WY
80,WYW186765,CAMPBELL,WYOMING,2028-06-01,444.51,15.859551,667.5,4774.5,NaN,WY
81,WYW186768,CONVERSE,WYOMING,2028-06-01,320.00,5.000000,480.0,480.0,NaN,WY

In [28]:
#Creating Column with DI Counties Format Name
RentalList["DI Counties"] = RentalList["COUNTY"] + " (" + RentalList["St. Initials"] + ")"

In [29]:
RentalList

,LEASE NO.,COUNTY,STATE,EXPIRATION,ACRES,PER ACRE,RENTAL,COUNTY.1,Y/N,St. Initials,DI Counties
0,ARES58000,FAULKNER,ARKANSAS,2025-06-01,80.00,15.437500,160.0,160.0,NaN,AR,FAULKNER (AR)
1,LAES58002,CADDO PARISH,LOUISIANA,2025-06-01,28.38,74.410714,58.0,NaN,NaN,LA,CADDO PARISH (LA)
2,LAES58003,CADDO PARISH,LOUISIANA,2025-06-01,171.41,16.497076,344.0,402.0,NaN,LA,CADDO PARISH (LA)
3,LAES57696,NATCHITOCHES,LOUISIANA,2023-06-01,1321.39,4.000000,2644.0,2644.0,NaN,LA,NATCHITOCHES (LA)
4,MIES57728,ROSCOMMON,MICHIGAN,2023-06-01,560.00,21.767857,1120.0,1120.0,NaN,MI,ROSCOMMON (MI)
5,MSES57748,AMITE,MISSISSIPPI,2024-06-01,329.28,3.966565,660.0,660.0,NaN,MS,AMITE (MS)
6,MSES57745,FRANKLIN,MISSISSIPPI,2024-06-01,52.10,26.836538,106.0,NaN,NaN,MS,FRANKLIN (MS)
7,MSES57746,FRANKLIN,MISSISSIPPI,2024-06-01,535.98,3.779851,1072.0,NaN,NaN,MS,FRANKLIN (MS)
8,MSES57747,FRANKLIN,MISSISSIPPI,2024-06-01,105.84,22.915094,212.0,NaN,NaN,MS,FRANKLIN (MS)
9,MSES57753,FRANKLIN,MISSISSIPPI,2024-06-01,40.00,7.250000,80.0,NaN,NaN,MS,FRANKLIN (MS)
10,MSES57754,FRANKLIN,MISSISSIPPI,2024-06-01,40.00,31.250000,80.0,1550.0,NaN,MS,FRANKLIN (MS)
11,MSES57734,SCOTT,MISSISSIPPI,2024-06-01,1260.25,3.621825,2522.0,NaN,NaN,MS,SCOTT (MS)
12,MSES57735,SCOTT,MISSISSIPPI,2024-06-01,1064.84,3.640845,2130.0,NaN,NaN,MS,SCOTT (MS)
13,MSES57736,SCOTT,MISSISSIPPI,2024-06-01,1230.85,3.621852,2462.0,NaN,NaN,MS,SCOTT (MS)
14,MSES57738,SCOTT,MISSISSIPPI,2024-06-01,1627.29,3.594345,3256.0,NaN,NaN,MS,SCOTT (MS)
15,MSES57739,SCOTT,MISSISSIPPI,2024-06-01,641.56,3.733645,1284.0,NaN,NaN,MS,SCOTT (MS)
16,MSES57740,SCOTT,MISSISSIPPI,2024-06-01,610.91,3.745499,1222.0,NaN,NaN,MS,SCOTT (MS)
17,MSES57741,SCOTT,MISSISSIPPI,2024-06-01,1465.81,3.602319,2932.0,NaN,NaN,MS,SCOTT (MS)
18,MSES57742,SCOTT,MISSISSIPPI,2024-06-01,1680.49,3.591369,3362.0,NaN,NaN,MS,SCOTT (MS)
19,MSES57744,SCOTT,MISSISSIPPI,2024-06-01,718.26,3.713788,1438.0,20608.0,NaN,MS,SCOTT (MS)
20,MSES57749,WILKINSON,MISSISSIPPI,2024-06-01,454.00,3.830396,908.0,NaN,NaN,MS,WILKINSON (MS)
21,MSES57750,WILKINSON,MISSISSIPPI,2024-06-01,22.78,10.021739,46.0,NaN,NaN,MS,WILKINSON (MS)
22,MSES57751,WILKINSON,MISSISSIPPI,2024-06-01,17.22,12.529412,36.0,NaN,NaN,MS,WILKINSON (MS)
23,MSES57752,WILKINSON,MISSISSIPPI,2024-06-01,228.51,4.155022,458.0,1448.0,NaN,MS,WILKINSON (MS)
24,PAES58006,BRADFORD,PENNYSLVANIA,2025-06-01,1134.85,26.636564,2270.0,NaN,NaN,NaN,NaN
25,PAES58007,BRADFORD,PENNYSLVANIA,2025-06-01,1112.06,31.667716,2226.0,NaN,NaN,NaN,NaN
26,PAES58008,BRADFORD,PENNYSLVANIA,2025-06-01,931.76,21.666309,1864.0,NaN,NaN,NaN,NaN
27,PAES58009,BRADFORD,PENNYSLVANIA,2025-06-01,617.19,21.786062,1236.0,NaN,NaN,NaN,NaN
28,PAES58010,BRADFORD,PENNYSLVANIA,2025-06-01,691.27,26.762663,1384.0,8980.0,NaN,NaN,NaN
29,TXNM132419,JACKSON,TEXAS,2024-06-01,1273.76,226.621664,2548.0,2548.0,NaN,TX,JACKSON (TX)
...,...,...,...,...,...,...,...,...,...,...,...
52,WYW188784,JOHNSON,WYOMING,2029-06-01,160.00,203.531250,240.0,NaN,NaN,WY,JOHNSON (WY)
53,WYW188785,JOHNSON,WYOMING,2029-06-01,320.00,103.015625,480.0,720.0,NaN,WY,JOHNSON (WY)
54,WYW188777,NATRONA,WYOMING,2029-06-01,1068.57,64.654350,1603.5,NaN,NaN,WY,NATRONA (WY)
55,WYW188778,NATRONA,WYOMING,2029-06-01,784.47,48.772321,1177.5,NaN,NaN,WY,NATRONA (WY)
56,WYW188780,NATRONA,WYOMING,2029-06-01,680.00,77.742647,1020.0,3801.0,NaN,WY,NATRONA (WY)
57,WYW189796,NIOBRARA,WYOMING,2030-06-01,1360.00,27.625000,2040.0,NaN,NaN,WY,NIOBRARA (WY)
58,WYW189797,NIOBRARA,WYOMING,2030-06-01,1320.00,29.628788,1980.0,4020.0,NaN,WY,NIOBRARA (WY)
59,WYW189891,SUBLETTE,WYOMING,2030-06-01,2298.76,5.573945,3448.5,NaN,NaN,WY,SUBLETTE (WY)
60,WYW189892,SUBLETTE,WYOMING,2030-06-01,1160.00,7.646552,1740.0,NaN,NaN,WY,SUBLETTE (WY)
61,WYW189893,SUBLETTE,WYOMING,2030-06-01,75.70,17.736842,114.0,5302.5,NaN,WY,SUBLETTE (WY)
62,WYW189850,SWEETWATER,WYOMING,2030-06-01,276.54,9.113718,415.5,NaN,NaN,WY,SWEETWATER (WY)
63,WYW189851,SWEETWATER,WYOMING,2030-06-01,648.52,15.761941,973.5,1389.0,NaN,WY,SWEETWATER (WY)
64,LAES57692,DESOTO,LOUISIANA,2023-06-01,54.02,6.342593,110.0,110.0,NaN,LA,DESOTO (LA)
65,MTM103416,PRAIRIE,MONTANA,2022-06-01,315.86,4.974684,632.0,NaN,NaN,MT,PRAIRIE (MT)
66,MTM103417,PRAIRIE,MONTANA,2022-06-01,640.00,6.734375,1280.0,NaN,NaN,MT,PRAIRIE (MT)
67,MTM103418,PRAIRIE,MONTANA,2022-06-01,320.00,8.968750,640.0,NaN,NaN,MT,PRAIRIE (MT)
68,MTM103419,PRAIRIE,MONTANA,2022-06-01,320.00,7.968750,640.0,NaN,NaN,MT,PRAIRIE (MT)
69,MTM103420,PRAIRIE,MONTANA,2022-06-01,960.00,7.656250,1920.0,NaN,NaN,MT,PRAIRIE (MT)
70,MTM103421,PRAIRIE,MONTANA,2022-06-01,1262.20,8.625594,2526.0,NaN,NaN,MT,PRAIRIE (MT)
71,MTM103422,PRAIRIE,MONTANA,2022-06-01,1280.00,8.617188,2560.0,10198.0,NaN,MT,PRAIRIE (MT)
72,WYW186741,CAMPBELL,WYOMING,2028-06-01,83.67,43.404762,126.0,NaN,NaN,WY,CAMPBELL (WY)
73,WYW186750,CAMPBELL,WYOMING,2028-06-01,326.75,12.989297,490.5,NaN,NaN,WY,CAMPBELL (WY)
74,WYW186751,CAMPBELL,WYOMING,2028-06-01,156.38,9.580128,235.5,NaN,NaN,WY,CAMPBELL (WY)
75,WYW186754,CAMPBELL,WYOMING,2028-06-01,866.80,23.684544,1300.5,NaN,NaN,WY,CAMPBELL (WY)
76,WYW186755,CAMPBELL,WYOMING,2028-06-01,428.66,15.872960,643.5,NaN,NaN,WY,CAMPBELL (WY)
77,WYW186756,CAMPBELL,WYOMING,2028-06-01,630.52,15.753566,946.5,NaN,NaN,WY,CAMPBELL (WY)
78,WYW186757,CAMPBELL,WYOMING,2028-06-01,160.17,13.578125,241.5,NaN,NaN,WY,CAMPBELL (WY)
79,WYW186758,CAMPBELL,WYOMING,2028-06-01,81.12,16.654321,123.0,NaN,NaN,WY,CAMPBELL (WY)
80,WYW186765,CAMPBELL,WYOMING,2028-06-01,444.51,15.859551,667.5,4774.5,NaN,WY,CAMPBELL (WY)
81,WYW186768,CONVERSE,WYOMING,2028-06-01,320.00,5.000000,480.0,480.0,NaN,WY,CONVERSE (WY)

In [30]:
#output for DI counties - copy and paste into DI
for i in RentalList["DI Counties"].drop_duplicates():
    print(i)

FAULKNER (AR)
CADDO PARISH (LA)
NATCHITOCHES  (LA)
ROSCOMMON (MI)
AMITE (MS)
FRANKLIN (MS)
SCOTT (MS)
WILKINSON (MS)
nan
JACKSON (TX)
SABINE (TX)
CAMPBELL (WY)
CARBON (WY)
CONVERSE (WY)
JOHNSON (WY)
NATRONA  (WY)
NIOBRARA (WY)
SUBLETTE (WY)
SWEETWATER (WY)
DESOTO (LA)
PRAIRIE (MT)

# Stat Summaries

In [31]:
RentalList.groupby(RentalList["EXPIRATION"].apply(lambda x: x.year)).sum()

               ACRES     PER ACRE   RENTAL  COUNTY.1  Y/N
EXPIRATION
2022         5098.06    53.545590  10198.0   10198.0  0.0
2023         1935.41    32.110450   3874.0    3874.0  0.0
2024        14063.73   626.954468  28142.0   28142.0  0.0
2025         4766.92   234.864603   9542.0    9542.0  0.0
2028         3498.58   172.377254   5254.5    5254.5  0.0
2029         4263.84   707.026702   6402.0    4521.0  0.0
2030        15487.54  5027.285348  23236.5   25117.5  0.0

In [32]:
shapefile.head()

,lot_no,LEASE_NO,EFFECTIVE,COUNTY,ST,Ownership,GeneralLoc,Due_Year,Acres,COMMENTS,Est_Bonus,Exp_date,Comments_1,Shape_Leng,Shape_Area,geometry
0,72266,WY-2020-12-0588,None,Niobrara,WY,R&R Royalty,None,0.0,840.00,Lease yet to be issued,0,None,Lease yet to be issued,11018.376216,6.377650e+06,"POLYGON Z ((-11639970.496 5340973.580 0.000, -..."
1,72267,WY-2020-12-0592,None,Niobrara,WY,R&R Royalty,None,0.0,1280.00,Lease yet to be issued,0,None,Lease yet to be issued,13275.331252,9.790726e+06,"POLYGON Z ((-11635543.812 5338747.382 0.000, -..."
2,72268,WY-2020-12-0595,None,Niobrara,WY,R&R Royalty,None,0.0,960.00,Lease yet to be issued,0,None,Lease yet to be issued,11051.594313,7.316665e+06,"POLYGON Z ((-11633336.189 5338743.869 0.000, -..."
3,72262,WY-2020-12-0579,None,Niobrara,WY,R&R Royalty,None,0.0,641.81,Lease yet to be issued,0,None,Lease yet to be issued,8834.223784,4.875540e+06,"POLYGON Z ((-11637213.500 5343726.602 0.000, -..."
4,72312,WY-2020-12-0432,None,Converse,WY,R&R Royalty,None,0.0,307.80,Lease yet to be issued,0,None,Lease yet to be issued,6584.338297,2.371568e+06,"POLYGON Z ((-11723601.654 5349650.980 0.000, -..."

In [33]:
activeAcreageShape = shapefile.loc[shapefile['Exp_date']>'2021-04-1']

In [34]:
shapefile.info()
activeAcreageShape.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 1876 entries, 0 to 1875
Data columns (total 16 columns):
lot_no        1876 non-null int64
LEASE_NO      1876 non-null object
EFFECTIVE     1810 non-null object
COUNTY        1876 non-null object
ST            1873 non-null object
Ownership     1505 non-null object
GeneralLoc    167 non-null object
Due_Year      1876 non-null float64
Acres         1876 non-null float64
COMMENTS      658 non-null object
Est_Bonus     1876 non-null int64
Exp_date      1833 non-null object
Comments_1    664 non-null object
Shape_Leng    1876 non-null float64
Shape_Area    1876 non-null float64
geometry      1876 non-null geometry
dtypes: float64(4), geometry(1), int64(2), object(9)
memory usage: 234.6+ KB
<class 'geopandas.geodataframe.GeoDataFrame'>
Int64Index: 1077 entries, 38 to 1861
Data columns (total 16 columns):
lot_no        1077 non-null int64
LEASE_NO      1077 non-null object
EFFECTIVE     1054 non-null object
COUNTY        1077 non-null object
ST            1077 non-null object
Ownership     1076 non-null object
GeneralLoc    126 non-null object
Due_Year      1077 non-null float64
Acres         1077 non-null float64
COMMENTS      285 non-null object
Est_Bonus     1077 non-null int64
Exp_date      1077 non-null object
Comments_1    290 non-null object
Shape_Leng    1077 non-null float64
Shape_Area    1077 non-null float64
geometry      1077 non-null geometry
dtypes: float64(4), geometry(1), int64(2), object(9)
memory usage: 143.0+ KB

In [35]:
activeAcreageShape.to_file("ActiveAcreage.shp")