In [24]:
import pandas as pd
import geopandas as gpd
import re

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [32]:
month = "July"

In [2]:
RentalList = pd.read_excel("BLM Rents July 2020.xlsx", header = 4, usecols = 8)

/anaconda3/lib/python3.6/site-packages/pandas/io/excel.py:527: FutureWarning: Passing in an integer for `usecols` has been deprecated. Please pass in a list of int from 0 to `usecols` inclusive instead.
  usecols = _maybe_convert_usecols(usecols)

In [3]:
RentalList

,LEASE NO.,COUNTY,STATE,EXPIRATION,ACRES,RENTAL,COUNTY.1,Y/N,Unnamed: 8
0,MTM110982,BLAINE,MONTANA,2029-07-01,40.00,60.0,NaN,NaN,NaN
1,MTM110983,BLAINE,MONTANA,2029-07-01,80.00,120.0,NaN,NaN,NaN
2,MTM110985,BLAINE,MONTANA,2029-07-01,430.50,646.5,826.5,NaN,NaN
3,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN
4,MTM111016,DAWSON,MONTANA,2029-07-01,160.00,240.0,NaN,NaN,NaN
5,MTM111017,DAWSON,MONTANA,2029-07-01,480.00,720.0,NaN,NaN,NaN
6,MTM111022,DAWSON,MONTANA,2029-07-01,2080.00,3120.0,4080.0,NaN,NaN
7,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN
8,MTM110971,MUSSELSHELL,MONTANA,2029-07-01,338.59,508.5,NaN,NaN,NaN
9,MTM110972,MUSSELSHELL,MONTANA,2029-07-01,770.53,1156.5,NaN,NaN,NaN
10,MTM110973,MUSSELSHELL,MONTANA,2029-07-01,240.00,360.0,NaN,NaN,NaN
11,MTM110974,MUSSELSHELL,MONTANA,2029-07-01,1124.09,1687.5,NaN,NaN,NaN
12,MTM110975,MUSSELSHELL,MONTANA,2029-07-01,327.08,492.0,4204.5,NaN,NaN
13,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN
14,MTM110986,TOOLE,MONTANA,2029-07-01,240.92,361.5,361.5,NaN,NaN
15,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN
16,NMNM128371,RIO ARRIBA,NEW MEXICO,2022-07-01,480.00,960.0,NaN,NaN,NaN
17,NMNM128376,RIO ARRIBA,NEW MEXICO,2022-07-01,160.00,320.0,1280.0,NaN,NaN
18,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN
19,OKNM128387,GARVIN,OKLAHOMA,2022-07-01,20.00,40.0,40.0,NaN,NaN
20,NaN,NaN,NaN,NaT,NaN,10792.5,10752.5,NaN,NaN

In [4]:
#dropping blank rows from dataframe using "all"
RentalList.dropna(how = 'all', inplace = True)

In [5]:
RentalList

,LEASE NO.,COUNTY,STATE,EXPIRATION,ACRES,RENTAL,COUNTY.1,Y/N,Unnamed: 8
0,MTM110982,BLAINE,MONTANA,2029-07-01,40.00,60.0,NaN,NaN,NaN
1,MTM110983,BLAINE,MONTANA,2029-07-01,80.00,120.0,NaN,NaN,NaN
2,MTM110985,BLAINE,MONTANA,2029-07-01,430.50,646.5,826.5,NaN,NaN
4,MTM111016,DAWSON,MONTANA,2029-07-01,160.00,240.0,NaN,NaN,NaN
5,MTM111017,DAWSON,MONTANA,2029-07-01,480.00,720.0,NaN,NaN,NaN
6,MTM111022,DAWSON,MONTANA,2029-07-01,2080.00,3120.0,4080.0,NaN,NaN
8,MTM110971,MUSSELSHELL,MONTANA,2029-07-01,338.59,508.5,NaN,NaN,NaN
9,MTM110972,MUSSELSHELL,MONTANA,2029-07-01,770.53,1156.5,NaN,NaN,NaN
10,MTM110973,MUSSELSHELL,MONTANA,2029-07-01,240.00,360.0,NaN,NaN,NaN
11,MTM110974,MUSSELSHELL,MONTANA,2029-07-01,1124.09,1687.5,NaN,NaN,NaN
12,MTM110975,MUSSELSHELL,MONTANA,2029-07-01,327.08,492.0,4204.5,NaN,NaN
14,MTM110986,TOOLE,MONTANA,2029-07-01,240.92,361.5,361.5,NaN,NaN
16,NMNM128371,RIO ARRIBA,NEW MEXICO,2022-07-01,480.00,960.0,NaN,NaN,NaN
17,NMNM128376,RIO ARRIBA,NEW MEXICO,2022-07-01,160.00,320.0,1280.0,NaN,NaN
19,OKNM128387,GARVIN,OKLAHOMA,2022-07-01,20.00,40.0,40.0,NaN,NaN
20,NaN,NaN,NaN,NaT,NaN,10792.5,10752.5,NaN,NaN

In [6]:
SerialNumbers = RentalList.loc[:,"LEASE NO."]

In [7]:
SerialNumbers.dropna(inplace = True)

In [8]:
SerialNumbers

0      MTM110982
1      MTM110983
2      MTM110985
4      MTM111016
5      MTM111017
6      MTM111022
8      MTM110971
9      MTM110972
10     MTM110973
11     MTM110974
12     MTM110975
14     MTM110986
16    NMNM128371
17    NMNM128376
19    OKNM128387
Name: LEASE NO., dtype: object

In [11]:
shapefile = gpd.read_file("zip://Master Shapefile 4-2-20.zip")

In [12]:
shapefile.columns

Index(['OBJECTID_1', 'OBJECTID_2', 'OBJECTID', 'LEASE_NO', 'EFFECTIVE',
       'EXPIRATION', 'TOTAL_PAID', 'ACRES', 'COUNTY', 'ST', 'Ownership',
       'Shape_Leng', 'GeneralLoc', 'Due_Year', 'DUE_DATE', 'NO__OF_ACR',
       'HYPERLINK', 'Comments', 'Shape_Le_1', 'Shape_Le_2', 'Shape_Area',
       'geometry'],
      dtype='object')

In [13]:
shapefile["LEASE_NO"]

0            NDM101156
1            NDM101159
2            NDM101160
3            NDM101164
4            NDM101166
5            NDM101169
6            NDM101172
7            NDM101173
8            NDM101180
9            MTM101455
10           MTM101456
11           MTM101458
12           MTM101464
13           MTM101465
14           MTM101475
15           MTM101477
16           NDM101479
17           NDM102132
18           NDM102136
19           NDM102130
20           SDM102222
21           SDM102219
22           SDM102226
23           SDM102664
24           SDM103746
25           SDM103748
26           SDM103750
27           SDM103751
28           SDM103758
29           SDM103761
             ...
1439        NMNM139876
1440        NMNM139877
1441        NMNM139878
1442        NMNM139879
1443        NMNM140301
1444        NMNM140302
1445        KSNM140298
1446    WY2020-03-6024
1447    WY2020-03-6183
1448    WY2020-03-6229
1449    WY2020-03-6230
1450    WY2020-03-6231
1451    WY2020-03-6264
1452    WY2020-03-6317
1453    WY2020-03-6321
1454    WY2020-03-6324
1455    WY2020-03-6331
1456    WY2020-03-6333
1457    WY2020-03-6335
1458    WY2020-03-6342
1459    WY2020-03-6358
1460    WY2020-03-6398
1461    WY2020-03-6399
1462    WY2020-03-6400
1463    WY2020-03-6401
1464    WY2020-03-6402
1465    WY2020-03-6403
1466    WY2020-03-6655
1467    WY2020-03-6601
1468    WY2020-03-6607
Name: LEASE_NO, Length: 1469, dtype: object

In [17]:
RentalShapeFile = shapefile.loc[shapefile["LEASE_NO"].isin(SerialNumbers)]

In [18]:
RentalShapeFile["LEASE_NO"].count()
SerialNumbers.count()

15

15

In [19]:
#mismatching - most likely due to mismatching serial number text

In [25]:
testSerial = SerialNumbers.loc[146]

KeyError: 146

In [26]:
testSerial
re.findall('[\w]+', testSerial)[0]

NameError: name 'testSerial' is not defined

In [27]:
#creating function to run on a pandas series to clean up mistakenly placed special chars at end of serial number on rental spreadsheet
def replaceSpecialChars(serial):
    cleanedSerial = re.findall('[\w]+', serial)[0]
    return cleanedSerial

In [28]:
CleanedSerials = SerialNumbers.apply(lambda x: replaceSpecialChars(x))

In [29]:
RentalShapeFile = shapefile.loc[shapefile["LEASE_NO"].isin(CleanedSerials)]

In [30]:
RentalShapeFile["LEASE_NO"].count()
SerialNumbers.count()

15

15

In [33]:
RentalShapeFile.to_file(month + " 2020 - Rental Tracts.shp")

In [34]:
states = {
        'AK': 'Alaska',
        'AL': 'Alabama',
        'AR': 'Arkansas',
        'AS': 'American Samoa',
        'AZ': 'Arizona',
        'CA': 'California',
        'CO': 'Colorado',
        'CT': 'Connecticut',
        'DC': 'District of Columbia',
        'DE': 'Delaware',
        'FL': 'Florida',
        'GA': 'Georgia',
        'GU': 'Guam',
        'HI': 'Hawaii',
        'IA': 'Iowa',
        'ID': 'Idaho',
        'IL': 'Illinois',
        'IN': 'Indiana',
        'KS': 'Kansas',
        'KY': 'Kentucky',
        'LA': 'Louisiana',
        'MA': 'Massachusetts',
        'MD': 'Maryland',
        'ME': 'Maine',
        'MI': 'Michigan',
        'MN': 'Minnesota',
        'MO': 'Missouri',
        'MP': 'Northern Mariana Islands',
        'MS': 'Mississippi',
        'MT': 'Montana',
        'NA': 'National',
        'NC': 'North Carolina',
        'ND': 'North Dakota',
        'NE': 'Nebraska',
        'NH': 'New Hampshire',
        'NJ': 'New Jersey',
        'NM': 'New Mexico',
        'NV': 'Nevada',
        'NY': 'New York',
        'OH': 'Ohio',
        'OK': 'Oklahoma',
        'OR': 'Oregon',
        'PA': 'Pennsylvania',
        'PR': 'Puerto Rico',
        'RI': 'Rhode Island',
        'SC': 'South Carolina',
        'SD': 'South Dakota',
        'TN': 'Tennessee',
        'TX': 'Texas',
        'UT': 'Utah',
        'VA': 'Virginia',
        'VI': 'Virgin Islands',
        'VT': 'Vermont',
        'WA': 'Washington',
        'WI': 'Wisconsin',
        'WV': 'West Virginia',
        'WY': 'Wyoming'
}

In [35]:
#inversing dictionary
statetoInits = {v: k for k, v in states.items()}

In [36]:
RentalList.info()
RentalList["STATE"] = RentalList["STATE"].astype(str)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16 entries, 0 to 20
Data columns (total 9 columns):
LEASE NO.     15 non-null object
COUNTY        15 non-null object
STATE         15 non-null object
EXPIRATION    15 non-null datetime64[ns]
ACRES         15 non-null float64
RENTAL        16 non-null float64
COUNTY.1      7 non-null float64
Y/N           0 non-null float64
Unnamed: 8    0 non-null float64
dtypes: datetime64[ns](1), float64(5), object(3)
memory usage: 1.2+ KB

In [37]:
RentalList["St. Initials"] = RentalList["STATE"].apply(lambda x: x.title()).map(statetoInits)

In [38]:
RentalList

,LEASE NO.,COUNTY,STATE,EXPIRATION,ACRES,RENTAL,COUNTY.1,Y/N,Unnamed: 8,St. Initials
0,MTM110982,BLAINE,MONTANA,2029-07-01,40.00,60.0,NaN,NaN,NaN,MT
1,MTM110983,BLAINE,MONTANA,2029-07-01,80.00,120.0,NaN,NaN,NaN,MT
2,MTM110985,BLAINE,MONTANA,2029-07-01,430.50,646.5,826.5,NaN,NaN,MT
4,MTM111016,DAWSON,MONTANA,2029-07-01,160.00,240.0,NaN,NaN,NaN,MT
5,MTM111017,DAWSON,MONTANA,2029-07-01,480.00,720.0,NaN,NaN,NaN,MT
6,MTM111022,DAWSON,MONTANA,2029-07-01,2080.00,3120.0,4080.0,NaN,NaN,MT
8,MTM110971,MUSSELSHELL,MONTANA,2029-07-01,338.59,508.5,NaN,NaN,NaN,MT
9,MTM110972,MUSSELSHELL,MONTANA,2029-07-01,770.53,1156.5,NaN,NaN,NaN,MT
10,MTM110973,MUSSELSHELL,MONTANA,2029-07-01,240.00,360.0,NaN,NaN,NaN,MT
11,MTM110974,MUSSELSHELL,MONTANA,2029-07-01,1124.09,1687.5,NaN,NaN,NaN,MT
12,MTM110975,MUSSELSHELL,MONTANA,2029-07-01,327.08,492.0,4204.5,NaN,NaN,MT
14,MTM110986,TOOLE,MONTANA,2029-07-01,240.92,361.5,361.5,NaN,NaN,MT
16,NMNM128371,RIO ARRIBA,NEW MEXICO,2022-07-01,480.00,960.0,NaN,NaN,NaN,NM
17,NMNM128376,RIO ARRIBA,NEW MEXICO,2022-07-01,160.00,320.0,1280.0,NaN,NaN,NM
19,OKNM128387,GARVIN,OKLAHOMA,2022-07-01,20.00,40.0,40.0,NaN,NaN,OK
20,NaN,NaN,nan,NaT,NaN,10792.5,10752.5,NaN,NaN,NaN

In [39]:
RentalList["DI Counties"] = RentalList["COUNTY"] + " (" + RentalList["St. Initials"] + ")"

In [40]:
RentalList

,LEASE NO.,COUNTY,STATE,EXPIRATION,ACRES,RENTAL,COUNTY.1,Y/N,Unnamed: 8,St. Initials,DI Counties
0,MTM110982,BLAINE,MONTANA,2029-07-01,40.00,60.0,NaN,NaN,NaN,MT,BLAINE (MT)
1,MTM110983,BLAINE,MONTANA,2029-07-01,80.00,120.0,NaN,NaN,NaN,MT,BLAINE (MT)
2,MTM110985,BLAINE,MONTANA,2029-07-01,430.50,646.5,826.5,NaN,NaN,MT,BLAINE (MT)
4,MTM111016,DAWSON,MONTANA,2029-07-01,160.00,240.0,NaN,NaN,NaN,MT,DAWSON (MT)
5,MTM111017,DAWSON,MONTANA,2029-07-01,480.00,720.0,NaN,NaN,NaN,MT,DAWSON (MT)
6,MTM111022,DAWSON,MONTANA,2029-07-01,2080.00,3120.0,4080.0,NaN,NaN,MT,DAWSON (MT)
8,MTM110971,MUSSELSHELL,MONTANA,2029-07-01,338.59,508.5,NaN,NaN,NaN,MT,MUSSELSHELL (MT)
9,MTM110972,MUSSELSHELL,MONTANA,2029-07-01,770.53,1156.5,NaN,NaN,NaN,MT,MUSSELSHELL (MT)
10,MTM110973,MUSSELSHELL,MONTANA,2029-07-01,240.00,360.0,NaN,NaN,NaN,MT,MUSSELSHELL (MT)
11,MTM110974,MUSSELSHELL,MONTANA,2029-07-01,1124.09,1687.5,NaN,NaN,NaN,MT,MUSSELSHELL (MT)
12,MTM110975,MUSSELSHELL,MONTANA,2029-07-01,327.08,492.0,4204.5,NaN,NaN,MT,MUSSELSHELL (MT)
14,MTM110986,TOOLE,MONTANA,2029-07-01,240.92,361.5,361.5,NaN,NaN,MT,TOOLE (MT)
16,NMNM128371,RIO ARRIBA,NEW MEXICO,2022-07-01,480.00,960.0,NaN,NaN,NaN,NM,RIO ARRIBA (NM)
17,NMNM128376,RIO ARRIBA,NEW MEXICO,2022-07-01,160.00,320.0,1280.0,NaN,NaN,NM,RIO ARRIBA (NM)
19,OKNM128387,GARVIN,OKLAHOMA,2022-07-01,20.00,40.0,40.0,NaN,NaN,OK,GARVIN (OK)
20,NaN,NaN,nan,NaT,NaN,10792.5,10752.5,NaN,NaN,NaN,NaN

In [41]:
for i in RentalList["DI Counties"].drop_duplicates():
    print(i)

BLAINE (MT)
DAWSON (MT)
MUSSELSHELL (MT)
TOOLE (MT)
RIO ARRIBA (NM)
GARVIN (OK)
nan

## Reading In MPLP Shapefile to Concatenate

In [49]:
MPLPShape = gpd.read_file("zip://MPLP July 2020 Rentals.zip")

In [50]:
RentalShapeFile

,OBJECTID_1,OBJECTID_2,OBJECTID,LEASE_NO,EFFECTIVE,EXPIRATION,TOTAL_PAID,ACRES,COUNTY,ST,...,GeneralLoc,Due_Year,DUE_DATE,NO__OF_ACR,HYPERLINK,Comments,Shape_Le_1,Shape_Le_2,Shape_Area,geometry
708,709,709,0,NMNM128371,2012-07-01,2022-07-01,0.0,480.00,RIO ARRIBA,NM,...,None,2022,2022-07-01,480.00,None,"ESPEJO PAID $65,527 FOR 10% WI. R&R'S WI - 0.7...",6983.514400,6983.514400,2.981368e+06,"POLYGON Z ((-11911827.271 4344457.078 0.000, -..."
709,710,710,0,NMNM128376,2012-07-01,2022-07-01,0.0,160.00,RIO ARRIBA,NM,...,None,2022,2022-07-01,160.00,None,"ESPEJO PAID $65,527 FOR 10% WI. R&R'S WI - 0.7...",3968.247000,3968.247000,9.841415e+05,"POLYGON Z ((-11911327.855 4337457.055 0.000, -..."
756,757,757,0,OKNM128387,2012-07-01,2022-07-01,0.0,20.00,GARVIN,OK,...,None,2022,2022-07-01,20.00,None,None,1454.377800,1454.377800,1.181616e+05,"POLYGON Z ((-10839209.695 4134391.656 0.000, -..."
1241,1242,1242,0,MTM110971,2019-07-01,2029-07-01,0.0,338.59,MUSSELSHELL,MT,...,None,2029,2029-07-01,336.59,None,None,8031.421307,8031.421307,2.931630e+06,"POLYGON Z ((-12051616.424 5890886.229 0.000, -..."
1242,1243,1243,0,MTM110972,2019-07-01,2029-07-01,0.0,770.53,MUSSELSHELL,MT,...,None,2029,2029-07-01,770.53,None,None,26365.562770,26365.562770,6.805974e+06,MULTIPOLYGON Z (((-12035317.557 5887955.377 0....
1243,1244,1244,0,MTM110973,2019-07-01,2029-07-01,0.0,240.00,MUSSELSHELL,MT,...,None,2029,2029-07-01,240.00,None,None,10508.190946,10508.190946,2.034259e+06,MULTIPOLYGON Z (((-12016174.827 5874627.017 0....
1244,1245,1245,0,MTM110974,2019-07-01,2029-07-01,0.0,1124.09,MUSSELSHELL,MT,...,None,2029,2029-07-01,1124.09,None,None,21369.180549,21369.180549,9.823095e+06,MULTIPOLYGON Z (((-12016405.862 5888118.906 0....
1245,1246,1246,0,MTM110975,2019-07-01,2029-07-01,0.0,327.08,MUSSELSHELL,MT,...,None,2029,2029-07-01,327.08,None,None,14743.288371,14743.288371,2.977985e+06,MULTIPOLYGON Z (((-12001732.521 5889401.573 0....
1246,1247,1247,0,MTM110982,2019-07-01,2029-07-01,0.0,40.00,BLAINE,MT,...,None,2029,2029-07-01,40.00,None,None,2450.942661,2450.942661,3.754266e+05,"POLYGON Z ((-12143791.203 6223332.072 0.000, -..."
1247,1248,1248,0,MTM110983,2019-07-01,2029-07-01,0.0,80.00,BLAINE,MT,...,None,2029,2029-07-01,80.00,None,None,3657.310561,3657.310561,7.432689e+05,"POLYGON Z ((-12143789.542 6221499.126 0.000, -..."
1248,1249,1249,0,MTM110985,2019-07-01,2029-07-01,0.0,430.50,BLAINE,MT,...,None,2029,2029-07-01,430.50,None,None,15283.464674,15283.464674,4.015084e+06,MULTIPOLYGON Z (((-12138910.450 6221496.134 0....
1249,1250,1250,0,MTM110986,2019-07-01,2029-07-01,0.0,240.92,TOOLE,MT,...,None,2029,2029-07-01,240.92,None,None,12264.091772,12264.091772,2.263486e+06,MULTIPOLYGON Z (((-12436046.621 6235777.894 0....
1250,1251,1251,0,MTM111016,2019-07-01,2029-07-01,0.0,160.00,DAWSON,MT,...,None,2029,2029-07-01,160.00,None,None,5971.023546,5971.023546,1.425610e+06,"POLYGON Z ((-11663318.051 5959729.594 0.000, -..."
1251,1252,1252,0,MTM111017,2019-07-01,2029-07-01,0.0,480.00,DAWSON,MT,...,None,2029,2029-07-01,480.00,None,None,10731.996095,10731.996095,4.261953e+06,"POLYGON Z ((-11665702.652 5957373.026 0.000, -..."
1252,1253,1253,0,MTM111022,2019-07-01,2029-07-01,0.0,2080.00,DAWSON,MT,...,None,2029,2029-07-01,2080.00,None,None,23772.116719,23772.116719,1.817879e+07,"POLYGON Z ((-11649129.403 5920558.634 0.000, -..."

In [54]:
MPLPandRR_Rentals = pd.concat([RentalShapeFile, MPLPShape])

In [56]:
MPLPandRR_Rentals.to_file("MPLP and R&R July 2020.shp")

,OBJECTID_1,OBJECTID_2,OBJECTID,LEASE_NO,EFFECTIVE,EXPIRATION,TOTAL_PAID,ACRES,COUNTY,ST,...,GeneralLoc,Due_Year,DUE_DATE,NO__OF_ACR,HYPERLINK,Comments,Shape_Le_1,Shape_Le_2,Shape_Area,geometry
708,709,709,0,NMNM128371,2012-07-01,2022-07-01,0.0,480.00,RIO ARRIBA,NM,...,None,2022,2022-07-01,480.00,None,"ESPEJO PAID $65,527 FOR 10% WI. R&R'S WI - 0.7...",6983.514400,6983.514400,2.981368e+06,"POLYGON Z ((-11911827.271 4344457.078 0.000, -..."
709,710,710,0,NMNM128376,2012-07-01,2022-07-01,0.0,160.00,RIO ARRIBA,NM,...,None,2022,2022-07-01,160.00,None,"ESPEJO PAID $65,527 FOR 10% WI. R&R'S WI - 0.7...",3968.247000,3968.247000,9.841415e+05,"POLYGON Z ((-11911327.855 4337457.055 0.000, -..."
756,757,757,0,OKNM128387,2012-07-01,2022-07-01,0.0,20.00,GARVIN,OK,...,None,2022,2022-07-01,20.00,None,None,1454.377800,1454.377800,1.181616e+05,"POLYGON Z ((-10839209.695 4134391.656 0.000, -..."
1241,1242,1242,0,MTM110971,2019-07-01,2029-07-01,0.0,338.59,MUSSELSHELL,MT,...,None,2029,2029-07-01,336.59,None,None,8031.421307,8031.421307,2.931630e+06,"POLYGON Z ((-12051616.424 5890886.229 0.000, -..."
1242,1243,1243,0,MTM110972,2019-07-01,2029-07-01,0.0,770.53,MUSSELSHELL,MT,...,None,2029,2029-07-01,770.53,None,None,26365.562770,26365.562770,6.805974e+06,MULTIPOLYGON Z (((-12035317.557 5887955.377 0....
1243,1244,1244,0,MTM110973,2019-07-01,2029-07-01,0.0,240.00,MUSSELSHELL,MT,...,None,2029,2029-07-01,240.00,None,None,10508.190946,10508.190946,2.034259e+06,MULTIPOLYGON Z (((-12016174.827 5874627.017 0....
1244,1245,1245,0,MTM110974,2019-07-01,2029-07-01,0.0,1124.09,MUSSELSHELL,MT,...,None,2029,2029-07-01,1124.09,None,None,21369.180549,21369.180549,9.823095e+06,MULTIPOLYGON Z (((-12016405.862 5888118.906 0....
1245,1246,1246,0,MTM110975,2019-07-01,2029-07-01,0.0,327.08,MUSSELSHELL,MT,...,None,2029,2029-07-01,327.08,None,None,14743.288371,14743.288371,2.977985e+06,MULTIPOLYGON Z (((-12001732.521 5889401.573 0....
1246,1247,1247,0,MTM110982,2019-07-01,2029-07-01,0.0,40.00,BLAINE,MT,...,None,2029,2029-07-01,40.00,None,None,2450.942661,2450.942661,3.754266e+05,"POLYGON Z ((-12143791.203 6223332.072 0.000, -..."
1247,1248,1248,0,MTM110983,2019-07-01,2029-07-01,0.0,80.00,BLAINE,MT,...,None,2029,2029-07-01,80.00,None,None,3657.310561,3657.310561,7.432689e+05,"POLYGON Z ((-12143789.542 6221499.126 0.000, -..."
1248,1249,1249,0,MTM110985,2019-07-01,2029-07-01,0.0,430.50,BLAINE,MT,...,None,2029,2029-07-01,430.50,None,None,15283.464674,15283.464674,4.015084e+06,MULTIPOLYGON Z (((-12138910.450 6221496.134 0....
1249,1250,1250,0,MTM110986,2019-07-01,2029-07-01,0.0,240.92,TOOLE,MT,...,None,2029,2029-07-01,240.92,None,None,12264.091772,12264.091772,2.263486e+06,MULTIPOLYGON Z (((-12436046.621 6235777.894 0....
1250,1251,1251,0,MTM111016,2019-07-01,2029-07-01,0.0,160.00,DAWSON,MT,...,None,2029,2029-07-01,160.00,None,None,5971.023546,5971.023546,1.425610e+06,"POLYGON Z ((-11663318.051 5959729.594 0.000, -..."
1251,1252,1252,0,MTM111017,2019-07-01,2029-07-01,0.0,480.00,DAWSON,MT,...,None,2029,2029-07-01,480.00,None,None,10731.996095,10731.996095,4.261953e+06,"POLYGON Z ((-11665702.652 5957373.026 0.000, -..."
1252,1253,1253,0,MTM111022,2019-07-01,2029-07-01,0.0,2080.00,DAWSON,MT,...,None,2029,2029-07-01,2080.00,None,None,23772.116719,23772.116719,1.817879e+07,"POLYGON Z ((-11649129.403 5920558.634 0.000, -..."
0,10,10,10,MTM101455,2011-07-01,2021-07-01,3021.5,10.32,RICHLAND,MT,...,None,2021,2021-07-01,10.32,None,None,3853.718897,3853.718897,3.526854e+05,MULTIPOLYGON Z (((-11709062.157 6118921.792 0....
1,11,11,11,MTM101456,2011-07-01,2021-07-01,2014.0,5.88,RICHLAND,MT,...,None,2021,2021-07-01,5.88,None,None,1781.457067,1781.457067,1.260800e+05,"POLYGON Z ((-11686184.000 6120992.000 0.000, -..."
2,12,12,12,MTM101458,2011-07-01,2021-07-01,31205.0,40.00,RICHLAND,MT,...,None,2021,2021-07-01,40.00,None,None,2418.000000,2418.000000,3.654140e+05,"POLYGON Z ((-11656641.000 6124666.000 0.000, -..."
3,13,13,13,MTM101464,2011-07-01,2021-07-01,67825.0,320.00,DAWSON,MT,...,None,2021,2021-07-01,320.00,None,None,7128.000000,7128.000000,2.813120e+06,"POLYGON Z ((-11645706.000 6037283.000 0.000, -..."
4,14,14,14,MTM101465,2011-07-01,2021-07-01,48473.5,318.07,DAWSON,MT,...,None,2021,2021-07-01,318.07,None,None,7130.447346,7130.447346,2.838999e+06,"POLYGON Z ((-11655246.000 6037269.000 0.000, -..."
5,15,15,15,MTM101475,2011-07-01,2021-07-01,73585.0,960.00,POWDER RIVER,MT,...,None,2021,2021-07-01,960.00,None,None,14866.716173,14866.716173,7.830550e+06,"POLYGON Z ((-11720137.787 5665036.311 0.000, -..."
6,16,16,16,MTM101477,2011-07-01,2021-07-01,127720.0,1049.60,POWDER RIVER,MT,...,None,2021,2021-07-01,1049.60,None,None,14869.828642,14869.828642,8.559216e+06,"POLYGON Z ((-11717846.622 5667939.790 0.000, -..."
7,61,61,61,MTM101466,2011-07-01,2021-07-01,221914.0,245.38,RICHLAND,MT,...,None,2021,2021-07-01,245.38,None,None,10905.156784,10905.156784,2.203217e+06,MULTIPOLYGON Z (((-11647796.002 6113795.567 0....
8,62,62,62,MTM101460,2011-07-01,2021-07-01,67606.0,1193.80,DAWSON,MT,...,None,2021,2021-07-01,1193.80,None,None,26906.570660,26906.570660,1.043227e+07,MULTIPOLYGON Z (((-11653818.460 5952531.989 0....
9,63,63,63,MTM101461,2011-07-01,2021-07-01,56725.0,920.00,DAWSON,MT,...,None,2021,2021-07-01,920.00,None,None,18961.005387,18961.005387,8.100227e+06,MULTIPOLYGON Z (((-11653819.350 5947782.750 0....
10,64,64,64,MTM101463,2011-07-01,2021-07-01,55621.0,803.90,DAWSON,MT,...,None,2021,2021-07-01,803.90,None,None,16521.013219,16521.013219,6.981637e+06,"POLYGON Z ((-11656196.783 5947803.691 0.000, -..."
11,65,65,65,MTM101462,2011-07-01,2021-07-01,51180.0,864.95,DAWSON,MT,...,None,2021,2021-07-01,864.95,None,None,18492.867663,18492.867663,7.546560e+06,MULTIPOLYGON Z (((-11666869.000 5946652.000 0....
12,66,66,66,MTM101471,2011-07-01,2021-07-01,130545.0,1600.00,DAWSON,MT,...,None,2021,2021-07-01,1600.00,None,None,31814.629607,31814.629607,1.400086e+07,MULTIPOLYGON Z (((-11646793.000 5945320.000 0....
13,109,109,109,MTM109204,2017-07-01,2027-07-01,0.0,360.00,GARFIELD,MT,...,Yes,2027,2027-07-01,360.00,None,None,9438.470261,9438.470261,3.135181e+06,"POLYGON Z ((-12010488.623 5950019.164 0.000, -..."
14,110,110,110,MTM109205,2017-07-01,2027-07-01,0.0,240.00,GARFIELD,MT,...,None,2027,2027-07-01,240.00,None,None,7082.599869,7082.599869,2.092680e+06,"POLYGON Z ((-12009309.176 5950019.395 0.000, -..."
15,111,111,111,MTM109206,2017-07-01,2027-07-01,0.0,600.00,GARFIELD,MT,...,None,2027,2027-07-01,600.00,None,None,9443.279797,9443.279797,5.225062e+06,"POLYGON Z ((-12009893.856 5946471.086 0.000, -..."
16,112,112,112,MTM109207,2017-07-01,2027-07-01,0.0,120.00,GARFIELD,MT,...,None,2027,2027-07-01,120.00,None,None,4722.773553,4722.773553,1.045515e+06,"POLYGON Z ((-12010486.126 5948244.533 0.000, -..."
17,113,113,113,MTM109323,2017-07-01,2027-07-01,0.0,160.00,FALLON,MT,...,None,2027,2027-07-01,160.00,None,None,4696.632613,4696.632613,1.378630e+06,"POLYGON Z ((-11605590.331 5866145.883 0.000, -..."
18,114,114,114,MTM109324,2017-07-01,2027-07-01,0.0,120.00,FALLON,MT,...,None,2027,2027-07-01,120.00,None,None,4699.322978,4699.322978,1.035152e+06,"POLYGON Z ((-11609111.634 5863786.616 0.000, -..."
19,115,115,115,MTM109325,2017-07-01,2027-07-01,0.0,160.00,FALLON,MT,...,None,2027,2027-07-01,160.00,None,None,8220.169965,8220.169965,1.379806e+06,MULTIPOLYGON Z (((-11602661.853 5862623.616 0....
20,116,116,116,MTM109326,2017-07-01,2027-07-01,0.0,280.00,FALLON,MT,...,None,2027,2027-07-01,280.00,None,None,7049.789752,7049.789752,2.413717e+06,"POLYGON Z ((-11606178.415 5860849.585 0.000, -..."
21,117,117,117,MTM109327,2017-07-01,2027-07-01,0.0,40.00,FALLON,MT,...,None,2027,2027-07-01,40.00,None,None,2347.498671,2347.498671,3.444208e+05,"POLYGON Z ((-11607349.375 5860260.528 0.000, -..."
22,118,118,118,MTM109328,2017-07-01,2027-07-01,0.0,200.00,FALLON,MT,...,None,2027,2027-07-01,200.00,None,None,9412.878494,9412.878494,1.728144e+06,MULTIPOLYGON Z (((-11612047.604 5878459.866 0....
23,119,119,119,MTM109357,2017-07-01,2027-07-01,0.0,280.33,POWDER RIVER,MT,...,None,2027,2027-07-01,280.33,None,None,9131.084457,9131.084457,2.280428e+06,MULTIPOLYGON Z (((-11715537.676 5648479.944 0....
24,120,120,120,MTM109359,2017-07-01,2027-07-01,0.0,600.00,POWDER RIVER,MT,...,None,2027,2027-07-01,600.00,None,None,10261.134267,10261.134267,4.877559e+06,"POLYGON Z ((-11715533.465 5644479.037 0.000, -..."

In [63]:
for row in range(0,len(MPLPandRR_Rentals.drop_duplicates(subset="COUNTY"))):
    loopDF = MPLPandRR_Rentals.drop_duplicates(subset="COUNTY")

    
    countyName = loopDF.iloc[row]["COUNTY"] + " (" + loopDF.iloc[row]["ST"] + ")"
    print(countyName)

RIO ARRIBA (NM)
GARVIN (OK)
MUSSELSHELL (MT)
BLAINE (MT)
TOOLE (MT)
DAWSON (MT)
RICHLAND (MT)
POWDER RIVER (MT)
GARFIELD (MT)
FALLON (MT)